RewriteEngine On
RewriteBase /

# Ha a kért fájl vagy könyvtár nem létezik
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Minden kérést a router.php-ra irányít
RewriteRule ^(.*)$ router.php [QSA,L]
