body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00000;
    text-align: center;
}

header {
    background: #88af6e;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.cart {
    background: #007ba2;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.product {
    background: white;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

button {
    background: #28a123;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #20000;
}

footer {
    background: #88af6e;
    color: white;
    padding: 5px;
    margin-top: 10px;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #001111;
    color: white;
}

.pagination button:hover {
    background: #0056b1;
}
