body{
    background-color: rgb(102, 187, 6);
    overflow: hidden;
}

#form{
    background-color: rgb(255, 255, 255);
    width:28%;
    border-radius: 6px;
    margin:50px auto;
    padding:50px;
    box-shadow: 10px 10px 5px rgb(9, 9, 9);
    
}
h1{
    margin: 30px;
    text-align: center;
}
input{
    width: 90%;
    border-radius: 4px;
    border: 3px solid #f6efef;
    padding: 5px;
}

#btn{
    width: 50%;
    color:rgb(255, 255, 255);
    background-color: rgb(22, 39, 189);
    padding:10px;
    font-size: large;
    border-radius: 10px;
}

@media screen and (max-width: 1350px) {
    #form {
      width: 40%;
      margin-left:none;
      padding:40px;
    }
  }
@media screen and (max-width: 1100px) {
    #form {
      width: 50%;
      margin-left:none;
      padding:40px;
    }
  }
@media screen and (max-width: 700px) {
    #form {
      width: 80%;
      margin-left:none;
      padding:40px;
    }
  }